extends layout

block content
	div.container
		div.row
			div.col-sm-10.col-md-8.col-md-offset-2
				#user
					h1.text-left.login-title Bienvenido #{username}
					if(typeof '#{user.username}' != 'undefined')
									ul.user-details
									li Usuario....	:#{username}
									li Email......	:#{email}
									li Nombres....	:#{names}
									li Apellidos..	:#{surnames}
									li Nacido el..	:#{born}
									li Sexo.......	:#{sex}
									li Direccion..	:#{street}
									li Comuna.....	:#{distrit}
									li Ciudad.....	:#{city}
									li Telefono...	:#{code}-#{number}
									br
									a(href='/profiles', class='text-left Modifica') Mi Perfil
									br
									a(href='/choices', class='text-left Modifica') Mis Preferencias
									br
									a(href='/signout', class='text-left Salir') Cerrar Sesion
