extends layout
#user
block content
	div.container
		div.row
			div.col-sm-4.col-md-4.col-md-offset-0
				h1.text-left.login-title Mi Perfil: #{username}
					div.profiles-wall
						form(class='form-signin', action='/profiles', method='POST')
							h6 Usuario...
								input(type='text', name='username', value='#{username}', class='form-control', placeholder='Username',required, autofocus,  )
							h6 Contraseña..
								input(type='password', name='password', value='#{password}', class='form-control', placeholder='Password', required, )
							h6 Correo Electrónico..
								input(type='email', name='email', value='#{email}', class='form-control', required)
							h6 Nombres....
								input(type='text', name='names', value='#{names}', class='form-control', placeholder='Nombres',required)
							h6 Apellidos..
								input(type='text', name='surnames', value='#{surnames}', class='form-control' ,placeholder='Apellidos',required)
							h6 Nacido el..
								input(type='date', name='born', value='#{born}', class='form-control', placeholder='Nacimiento',required)
							h6 Sexo....
								input(type='text', name='sex', value='#{sex}', class='form-control', placeholder='Sexo',required)
							h6 Dirección..	(calle,número,depto,of,blk)
								input(type='text', name='street' value='#{street}',class='form-control', placeholder='Direccion',required)
							h6 Comuna....
								input(type='text', name='distrit' value='#{distrit}',class='form-control', placeholder='Comuna',required)
							h6 Ciudad....
								input(type='text', name='city', value='#{city}', class='form-control', placeholder='Ciudad',required)
							h6 Teléfono Móvil...
								input(type='number', name='code' value='#{code}', class='form-control', placeholder='Código Area',required)
								input(type='number', name='number' value='#{number}', class='form-control', placeholder='Número Móvil',required)
							h6 Tipo de Usuario...
								input(type='text', name='userkind' value='#{userkind}', class='form-control', placeholder='Tipo de Usuario (NAT/CLI/DIT',required)
							h6 RUT usuario...
								input(type='text', name='rutid' value='#{rutid}', class='form-control', placeholder='RUT Usuario ',required)
							h6 Profesion/Oficio...
								input(type='text', name='academy' value='#{academy}', class='form-control', placeholder='Profesión/Oficio')
							h6 Facebook...
								input(type='text', name='facebook' value='#{facebook}', class='form-control', placeholder='Cuenta Facebook')
							h6 Twitter...
								input(type='text', name='twitter' value='#{twitter}', class='form-control', placeholder='Cuenta Twitter')
							h6 Instagram...
								input(type='text', name='instagram' value='#{instagram}', class='form-control', placeholder='Cuenta Instagram')
							h6 Comentarios Perfil...
								input(type='text', name='comment' value='#{comment}', class='form-control', placeholder='Comentarios perfil')
							h6 Cuenta Bancaria..
								input(type='text', name='account' value='#{account}', class='form-control', placeholder='Cuenta Cte/vista/RUT')
							h6 Banco....
								input(type='text', name='Bank' value='#{bank}', class='form-control', placeholder='Banco Emisor')
							h6 Numero Tarjeta Credito..
								input(type='text', name='creditcard' value='#{creditcard}', class='form-control', placeholder='Tarjeta Credito')
							h6 Banco Emisor....
								input(type='text', name='bankcard' value='#{bankcard}', class='form-control', placeholder='Banco T.Credito')
							h6 Credit CV
								input(type='text', name='cardcv' value='#{cardcv}', class='form-control', placeholder='CV credit card')
							h6 Emergencia Nombre...
								input(type='text', name='name911' value='#{name911}', class='form-control', placeholder='Nombre Emergencia')
							h6 Emergencia Numero
								input(type='text', name='number911' value='#{number911}', class='form-control', placeholder='Numero Emergencia')
							h6 Chat Activo...
								input(type='text', name='comment' value='#{chat}', class='form-control', placeholder='Chat Activo /V/F')
							h6 Presione para Almacenar los cambios efectuados...
								button(class='btn btn-lg btn-primary ', type='submit') Guardar
								span.clearfix
